name: Push-to-EC2 instance

on:
  push:
    branches:
      - master

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Deploy & Build on EC2
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.HOST_DNS }}
          username: ${{ secrets.USERNAME }}
          key: ${{ secrets.EC2_SSH_KEY }}
          script: |
            set -e

            sudo yum update -y
            sudo yum install -y httpd nodejs npm rsync
            sudo systemctl enable httpd
            sudo systemctl start httpd

            rsync -av --delete $GITHUB_WORKSPACE/ /home/ec2-user/app/

            cd /home/ec2-user/app
            npm install
            npm run build

            sudo rm -rf /var/www/html/*
            sudo cp -r build/* /var/www/html/
            sudo systemctl restart httpd
